/*! Composite.scss v0.0.1  | MIT License */
/*! Composite.scss v0.0.1 variables | MIT License */
/*! Composite.scss v0.0.1 light reset | MIT License */
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  text-size-adjust: 100%;
  line-height: 1; }

body {
  margin: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: "";
    content: none; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

audio,
video,
canvas,
progress,
caption,
legend {
  display: inline-block;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a:focus {
    outline: 0; }
  a img {
    border: none; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }
  button:disabled,
  input:disabled,
  select:disabled,
  textarea:disabled {
    cursor: default; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! Composite.scss v0.0.1 light helpers | MIT License */
.c-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.c-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.c-hidden {
  visibility: hidden; }

.c-disabled,
.c-disabled a,
.c-disabled:hover,
.c-disabled a:hover,
.c-disabled:active,
.c-disabled a:active {
  color: #bdbdbd !important;
  pointer-events: none;
  background: none !important;
  box-shadow: none;
  cursor: inherit;
  user-select: none; }

.c-divider,
.c-divider a,
.c-divider:hover,
.c-divider a:hover,
.c-divider:active,
.c-divider a:active {
  color: #757575;
  padding: 0 20px;
  background-color: transparent;
  box-shadow: none;
  cursor: inherit;
  user-select: none; }

.c-text-success {
  color: #4cAf50 !important; }

.c-bg-success {
  margin-bottom: 5px;
  padding: 15px;
  background-color: rgba(76, 175, 80, 0.2); }

.c-text-info {
  color: #03A9F4 !important; }

.c-bg-info {
  margin-bottom: 5px;
  padding: 15px;
  background-color: rgba(3, 169, 244, 0.2); }

.c-text-warning {
  color: #FF5722 !important; }

.c-bg-warning {
  margin-bottom: 5px;
  padding: 15px;
  background-color: rgba(255, 87, 34, 0.2); }

.c-text-error {
  color: #f44336 !important; }

.c-bg-error {
  margin-bottom: 5px;
  padding: 15px;
  background-color: rgba(244, 67, 54, 0.2); }

/* https://github.com/Antoine-360pixel/sass-grid */
.c-fluid-row {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .c-fluid-row:after {
    content: "";
    display: table;
    clear: both; }

.col-1 {
  float: left;
  position: relative;
  width: 14.54762%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-1:first-child {
    margin-left: 1.78571%; }
  @media only screen and (max-width: 992px) {
    .col-1 {
      float: none;
      width: 100%;
      margin: 1.78571% 1.78571% 0 1.78571%; }
      .col-1:last-child {
        margin-bottom: 1.78571%; } }

.col-2 {
  float: left;
  position: relative;
  width: 30.88095%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-2:first-child {
    margin-left: 1.78571%; }
  @media only screen and (max-width: 992px) {
    .col-2 {
      float: none;
      width: 100%;
      margin: 1.78571% 1.78571% 0 1.78571%; }
      .col-2:last-child {
        margin-bottom: 1.78571%; } }

.col-3 {
  float: left;
  position: relative;
  width: 47.21429%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-3:first-child {
    margin-left: 1.78571%; }
  @media only screen and (max-width: 992px) {
    .col-3 {
      float: none;
      width: 100%;
      margin: 1.78571% 1.78571% 0 1.78571%; }
      .col-3:last-child {
        margin-bottom: 1.78571%; } }

.col-4 {
  float: left;
  position: relative;
  width: 63.54762%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-4:first-child {
    margin-left: 1.78571%; }
  @media only screen and (max-width: 992px) {
    .col-4 {
      float: none;
      width: 100%;
      margin: 1.78571% 1.78571% 0 1.78571%; }
      .col-4:last-child {
        margin-bottom: 1.78571%; } }

.col-5 {
  float: left;
  position: relative;
  width: 79.88095%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-5:first-child {
    margin-left: 1.78571%; }
  @media only screen and (max-width: 992px) {
    .col-5 {
      float: none;
      width: 100%;
      margin: 1.78571% 1.78571% 0 1.78571%; }
      .col-5:last-child {
        margin-bottom: 1.78571%; } }

.col-6 {
  float: none;
  position: relative;
  width: 96.21429%;
  min-height: 1;
  margin: 0;
  margin: 1.78571% 1.78571% 1.78571% 0;
  box-sizing: border-box; }
  .col-6:first-child {
    margin-left: 1.78571%; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-30px); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(30px); } }
.c-fadeIn {
  animation: "fadeIn" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-fadeInUp {
  animation: "fadeInUp" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-fadeInLeft {
  animation: "fadeInLeft" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-fadeInRight {
  animation: "fadeInRight" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-fadeOutLeft {
  animation: "fadeOutLeft" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-fadeOutRight {
  animation: "fadeOutRight" 0.5s both cubic-bezier(0.15, 0.75, 0.15, 1); }

.c-reverse {
  animation-direction: reverse; }

/*# sourceMappingURL=composite.css.map */
