/*! Composite.scss v0.0.1 light reset | MIT License */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  line-height: 1;
}

body {
  margin: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;

  &:before,
  &:after, {
    content: "";
    content: none;
  }
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

audio,
video,
canvas,
progress,
caption,
legend {
  display: inline-block;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  img {
    border: none;
  }
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  
  &:disabled {
    cursor: default;
  }
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}